/* social media button styling */
.share-button {
  width: 50px;
  padding: 10px;
  transition: all .2s ease-in-out;
}

.share-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* style avatar styling */

.styles {
  transition: all .2s ease-in-out;

}
.styles:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.product-features {
  border-left: rgb(104, 104, 104) solid 2px;
}

/* IMAGE GALLERY */

.image-gallery-wrapper {
  position: relative;
}


/* IMAGE GALLERY CAROUSEL */
.image-gallery-carousel-container {
  position:absolute;
}

.image-gallery-carousel-images {
  object-fit: cover;
  width: 100%;
  z-index: 1;
  transition: opacity 1s ease-in-out;
  margin-left: auto;
  margin-right: auto;
}

.image-gallery-carousel-images:hover {
  cursor: zoom-in;
}

/* IMAGE GALLERY THUMBNAILS */

.image-gallery-thumb-container {
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.image-gallery-thumb {
  transition: all .2s ease-in-out;
  border: 1px solid rgb(124, 124, 124);
  width: 55px;
  height: 55px;
  margin: 7px;
  z-index: 3;
}

.image-gallery-thumb-selected {
  transition: all .2s ease-in-out;
  border-bottom: 3px solid rgba(255, 0, 0, 0.548);
  width: 55px;
  height: 55px;
  margin: 7px;
  z-index: 3;
}

.image-gallery-thumb:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-gallery-thumb-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 4;

}