/* social media button styling */
.share-button {
  width: 50px;
  padding: 10px;
  transition: all .2s ease-in-out;
}

.share-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.styles {
  transition: all .2s ease-in-out;

}
.styles:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* IMAGE GALLERY */

.image-gallery-wrapper {
  position: relative;
  columns: 2;
}


/* IMAGE GALLERY CAROUSEL */
.image-gallery-carousel-container {
  position:absolute;
  top: 0;
  left: 0;
}

.image-gallery-carousel-images {
  object-fit: cover;
  object-position: 50%;
  display: block;
  width: 100%;
  height: 535px;
  z-index: 1;
}

.image-gallery-carousel-images:hover {
  cursor: zoom-in
}

/* IMAGE GALLERY THUMBNAILS */

.image-gallery-thumb-container {
  position: absolute;
  flex-direction: column;
  flex-grow: 7;
  justify-content: space-between;
  z-index: 2;

}

.image-gallery-thumb {
  transition: all .2s ease-in-out;
  border: 1px solid rgb(124, 124, 124);
  width: 48px;
  height: 48px;
  margin: 7px;
  z-index: 3;
}

.image-gallery-thumb:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-gallery-thumb-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 4;
}

.vertical-line {
  border-left: 3px solid black;
  height: 75%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

/* PRODUCT OVERVIEW */

.product-overview-container {
  position: relative;
  columns: 3;
}

.product-slogan-description {
  justify-content: left;
}

.product-features {
  justify-content: right;
}